<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
	    <add key="query" value="Data Source=HUONG\MSSQLSERVER2017;Initial Catalog=SBODemoAU;User ID=sa;Password=Admin@123" />
    </appSettings>
</configuration>